@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  user-select: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-bg {
  position: relative;
  z-index: 0;
}

.custom-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3; 
  z-index: -1;
}

.glow-box {
  box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.6);
  animation: pulse-glow 2s infinite alternate;
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.8);
  }
}

.glow-purple {
  box-shadow: 0 0 7px 4px rgba(177, 85, 197, 0.6);
  animation: pulse-purple 2s infinite alternate;
}

@keyframes pulse-purple {
  0% {
    box-shadow: 0 0 3px 1px rgba(177, 85, 197, 0.4);
  }
  100% {
    box-shadow: 0 0 4px 2px rgba(177, 85, 197, 0.8);
  }
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Makes the default icon appear white */
}